/****** Color *****/
body a,
#header .navbar-nav > li.active > a,
#header .navbar-nav > li.active:before,
#portfolio .og-expander .container .details .fa-external-link,
#portfolio .og-expander .container .details .social li a:hover,
#contact .info .social .icon:hover,
.btn.btn-default:hover,
.btn.btn-default:focus,
#blog .articles .article h3 a:hover,
#blog .addComment form .btn:hover,
.video .parallax:hover .content .icon,
#footer .social .icon:hover {
  color: #f26522;
}
body a:hover,
body a:active,
body a:focus {
  color: #d0760a;
}
/****** Background *****/
#features .i .icon .c .fill,
#portfolio .filter li.active a,
#portfolio .og-expander .container .details .og-close:hover,
#pricing .i.active .wrap,
.modal-header .close:hover,
#header .navbar-toggle,
.pagination .active>a,
.pagination .active>span,
.pagination .active>a:hover,
.pagination .active>span:hover,
.pagination .active>a:focus,
.pagination .active>span:focus,
section header .dotted-break span,
section header .dotted-break span:before,
section header .dotted-break span:after,
#blog .btn,
#team .i:hover .c,
#team .i h4,
#pricing .i.active .wrap .c .btn,
#pricing .i .wrap .c .btn:hover,
#contact form .btn:hover {
  background: #f26522;
}
#portfolio .i .c .wrap .info,
#blog .articles .article .c .wrap .info {
  background: rgba(246, 187, 66, 0.8);
}
#blog .btn:hover {
	background: #d0760a;
}
/****** Border color *****/
#portfolio .filter li.active a,
#portfolio .filter li:hover a,
.borderedHover:before,
.borderedHover:after,
#portfolio .og-expander .container .details .social li a:hover,
#pricing .i.active .wrap,
#pricing .i.active .wrap .c,
.form-control:focus,
#contact form .btn:hover,
.btn.btn-default:hover,
.btn.btn-default:focus,
.pagination .active>a,
.pagination .active>span,
.pagination .active>a:hover,
.pagination .active>span:hover,
.pagination .active>a:focus,
.pagination .active>span:focus,
#blog .addComment form .form-control:focus,
#blog .addComment form .btn:hover,
.video .parallax:hover .content .icon {
  border-color: #f26522;
}





#main-nav.scrolled .navbar-brand:after{
	position: absolute;
	height:30px;
	right:-30px;
	top:50%;
	margin-top:-5px;
	font-family: fontAwesome;
	content:"\f062";
	color:#d9e4eC !important;
	opacity: 0;
	-webkit-transform: translateY(10px);
	transform: translateY(10px);
	-webkit-transition: all .2s ease-out;
	transition: all .2s ease-out;
}

#pixo{
  position:absolute;
  top:-22px;
}
.pcolor{
  color:#f26522;
}
#tech{
  font-size:25px;
}
.logo .wrap{
  border-color: #f26522;
}
.fill1{
  background-color:#ff7b3b;
}

.fill2{
  background-color:
#b83c00;
}
#pixo img{
  margin-top:10px;
  width:20%;
}
#tec{
  font-size:8px;
  color:black;
  position:absolute;
  top:40px;
  left:300px;
}
#abot{
  color:black;
}
#free{
  font-size:11px;
  color:red;
}